## IGNORE LIST
.buildpath
.DS_Store
.idea
.project
.sass-cache
/application/cache/*
/application/config/development
/application/config/production
/application/logs/*
/bower_components/
/nbproject/
/node_modules/
/resources/public/*
/user_guide/
/vendor/
composer.lock

## TAKEN
!/application/cache/.htaccess
!/application/cache/index.html
!/application/logs/.htaccess
!/application/logs/index.html
!/resources/public/img
